<h1>Student Registration Form</h1>

<form action="thankyou">
    First Name : <input type="text" id="fname"/>
    Last Name : <input type="text" id="lname"/>
    Address : <input type="text" id="add"/>
    Mobile No : <input type="number" id="num"/>
    <button type="submit">Submit</button>
</form>