@{
    ViewData["Title"] = "Register Page";
}

<div class="text-center">
    <fieldset>
    <form method = "post">
    <legend> Register Employee</legend>
    <div>
    Employee Id : <input type="number" value="" id="eid1" name="EmployeeId"/>
    <br>
    <br>
    Employee Name : <input type="text" value="" id="en1" name="EmployeeName"/>
    <br>
    <br>
    Company Name : <input type= "text" value="" id="cn1" name ="CompanyName"/>
    <br>
    <br>
    <button type="submit">Submit</button>
    </div>

    </form>
</div>
