@{
    ViewData["Title"] = "Insert Page";
}

<body>
    <div>
        <form>
            <h1>Insert product Details Here....</h1>
            Product id : <input type="number" name="pid"/>
            Product name :<input type="text" name="pnm"/>
            Product Quantity :<input type="number" name="pqt"/>
            Product Rate :<input type="number" name="prte"/>
        </form>
    </div>
</body>


