@using BOL;

@{
    ViewData["Title"] = "Table Page";
    List<Employee> emp = ViewData["emp"] as List<Employee>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach(Employee e in emp){
        <p>@e.Pid @e.Pname @e.Padd @e.Pmobile</p>
    }
</div>

