@{
    ViewData["Title"] = "About Us Page";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Every time you look at these flowers know that someone far away is thinking of you.</p>
</div>
