@{
    ViewData["Title"] = "Contact Us Page";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Contact us at : <a href="www.google.com" target="_blank">google</a></p>
    <p>Tele No : 6958321470</p>
    <img src="/images/rose.jpg" width="320px" height="240px"/>
</div>
